// ==========================================================================
// Global Config
// ==========================================================================

// Font Styles
html {
    font-family: Poppins, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

// Global Class
a {
    text-decoration: none;
}

// Background-Color Usage

// Variables